
@model dynamic
@{
    ViewData["Title"] = "Index";
}

<h2>Libros</h2>
<div class="container">

    <div class="row">
        <div class="col-md-8">
            <label>Publicador</label>
            @using (Html.BeginForm("Index", "libro", FormMethod.Post))
            {
                <select id="Segmentation" name="Segmentation">
                    @foreach (var publicador in Model.Publicadores)
                    {
                        <option value="@publicador.IdPublicador">
                            @publicador.NombrePublicador
                        </option>
                    }

                </select>
                <input type="submit" value="Send" />
            }
        </div>
    </div>
    <div class="row">
        <table style="width:100%;">
            <thead>
                <tr>
                    <td>Codigo del libro</td>
                    <td>Titulo</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var libro in Model.Libros)
                {
                    <tr>
                        <td>
                            @libro.codLibro
                        </td>
                        <td>
                            @libro.TituloLibro
                        </td>
                        <td>
                            @libro.ISBN
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

